*{
    margin: 0;
    padding: 0;
    
}

body{
    padding: 5px;
    position: relative;
    height: 100%;
    border: solid 2px green;
    background: #222222;
}
.container{
    display: flex;
    height: 100%;
}

/**NAVIGATION**/
#navigation{
    border: solid 2px #2268eb;
    width: 10%;
    height: 100%;
}

#search_container{
    border: solid 2px #e28a16;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    
}

#search_bar{
    width: 80%;
    height: 3vh;
}

#button_navigation{
    position: relative;
    border: solid 2px #e28a16;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    
}

.button{
    border: solid 2px #2268eb;
    width: 40%;
    height: 22%;
    margin: auto auto;
    transition: 0.2s ease;
    transition: transform .2s; /* Animation */
 
}

.button:hover{
    cursor: pointer;
    background: #2268eb;
    transition: 0.2s ease;
    transform: scale(1.1);
}

/**GRAPH VISUALIZATION GOES HERE**/
#showcase{
    border: solid 2px #eb22c0;
    width: 90%;
}

