*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    padding: 5px;
    position: relative;
    height: 100%;
    border: solid 1px #7e9a9a;
    background: #3b3b3b;
}
.container{
    display: flex;
    height: 100%;
}

/**NAVIGATION**/
#navigation{
    border: solid 1px #7e9a9a;
    width: 14vw;
    height: 100%;
}

#search_container{
    border: solid 2px #f6d8ac;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    
}

#search_bar{
    width: 90%;
    height: 3vh;
}

#button_navigation{
    position: relative;
    border: solid 1px #f6d8ac;
    height: 96vh;
    display: flex;
    flex-wrap: wrap;   
}

.button{
    border: solid 1px #db9833;
    width: 43%;
    height: 19%;
    margin: auto auto;
    transition: 0.2s ease;
    transition: transform .2s; /* Animation */
    border-radius: 20px;
 
}

.button:hover{
    cursor: pointer;
    background: #f6d8ac;
    transition: 0.2s ease;
    transform: scale(1.1);
}
table{
    table-layout: fixed;
    width: 100%;
}

table, th, td{
    border: solid 1px rgb(145, 144, 144);
    margin: 0;
    border-collapse: collapse;
    color: aliceblue;
    text-align: center;
}

h1{
    color: aliceblue;
}

th{
    color: blanchedalmond;
}

th:hover{
    cursor: pointer;
    background: blanchedalmond;
    color: black;
    transition: 0.2s ease-in-out;
}

td:hover{
    cursor: pointer;
    background: blanchedalmond;
    color: black;
    transition: 0.2s ease-in-out;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/**GRAPH VISUALIZATION GOES HERE**/
#showcase{
    border: solid 2px #f6d8ac;
    width: 86vw;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  
}

